
    * {
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(
    135deg,
    #0d1117,
    #0f2a44,
    #0d1117
  ); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9d1d9;
}

.signup-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

.signup-card {
  background: #161b22;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

.signup-card h2 {
  color: #f0f6fc;
}

.form-control {
  background: #0d1117;
  border: 1px solid #30363d;
  color: #c9d1d9;
}

.form-control:focus {
  background: #0d1117;
  border-color: #58a6ff;
  box-shadow: none;
  color: #fff;
}

.btn-success {
  background: #238636;
  border: none;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
